@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primer-color: #0C1844;
    --segundo-color: #FFF5E1;
    --tercer-color: #FF6969;
    --hover-color: #5D0E41;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primer-color);
    color: var(--segundo-color);
    box-sizing: border-box;
}

.header {
    padding: 3% 0% 0% 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--tercer-color);
    text-decoration: none;
}

.header__menu__link:hover {
    font-size: 1.625rem;
}

.presentacion {
    display: flex;
    align-items: center;
    padding: 6% 15%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo {
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
    font-weight: 400;
}

.titulo_destaque {
    color: var(--tercer-color);
}

.presentacion__contenido__texto {
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo {
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion__enlaces__link {
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--segundo-color);
    border: 2px solid var(--tercer-color);
    display: flex;
    justify-content: center;
    gap: 16px;
}

.presentacion__enlaces__link:hover {
    background-color: var(--hover-color);
    padding: 3%;
    border: 3px solid var(--tercer-color);
    cursor: pointer;
}

.presentacion__imagen {
    width: 50%;
}

.footer {
    background-color: var(--tercer-color);
    color: var(--primer-color);
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 24px;
    text-align: center;
}

@media (max-width: 1300px) {

    .header {
        padding: 10%;
    }

    .header__menu {
        justify-content: center;
    }

    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido {
        width: auto;
    }
}

